<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Nombres</title>
    <link rel="stylesheet" type="text/css" href="/static/css/estilosfdn.css">
</head>
<body>
<div class="container">
    <h1>Formulario de Nombres</h1>
    <form action="/largonombre" method="POST">

        <label for="nombre1">Nombre 1:</label>
        <input type="text" id="nombre1" name="nombre1" required>
        <br>
        <label for="nombre2">Nombre 2:</label>
        <input type="text" id="nombre2" name="nombre2" required>
		<br>
		<label for="nombre3">Nombre 3:</label>
        <input type="text" id="nombre3" name="nombre3" required>
        <br>

        <button type="submit">Enviar</button>
        <br>
    </form>
    {% if resultado1 and resultado2 %}
    <div>
        <br>
        <p>El nombre con mayor cantidad de caracteres es: {{ resultado1 }}</p>
        <p>El nombre tiene: {{ resultado2 }} caracteres.</p>

    </div>
    {% endif %}
</div>
</body>
</html>
